name: Update Landscape
on:
  push:
    paths:
      - 'project.yaml'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Landscape
        uses: cncf/automation/.github/actions/landscape-update@main
        with:
          project_file: 'project.yaml'
          token: ${{ secrets.GH_PAT }}
